* {
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
  margin: 0;
  font-family: 'Pretendard', sans-serif;
}

@font-face {
  font-family: 'Pretendard';
  src: url('/fonts/PretendardJP-Thin.otf') format('opentype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Pretendard';
  src: url('/fonts/PretendardJP-ExtraLight.otf') format('opentype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Pretendard';
  src: url('/fonts/PretendardJP-Light.otf') format('opentype');
  font-weight: 300;
}

@font-face {
  font-family: 'Pretendard';
  src: url('/fonts/PretendardJP-Regular.otf') format('opentype');
  font-weight: 400;
}

@font-face {
  font-family: 'Pretendard';
  src: url('/fonts/PretendardJP-Medium.otf') format('opentype');
  font-weight: 500;
}

@font-face {
  font-family: 'Pretendard';
  src: url('/fonts/PretendardJP-SemiBold.otf') format('opentype');
  font-weight: 600;
}

@font-face {
  font-family: 'Pretendard';
  src: url('/fonts/PretendardJP-Bold.otf') format('opentype');
  font-weight: 700;
}

@font-face {
  font-family: 'Pretendard';
  src: url('/fonts/PretendardJP-ExtraBold.otf') format('opentype');
  font-weight: 800;
}

@font-face {
  font-family: 'Pretendard';
  src: url('/fonts/PretendardJP-Black.otf') format('opentype');
  font-weight: 900;
}
